<!-- все зарегистрированы авторы -->
{% extends 'blog/base.html' %}

{% block title %}
авторы
{% endblock title %}


{% block print_state %}
    {% for author in authors %}
        <div class="window-bot">
            <div id="{{ author.id }}" class="articles-list">
                <div class="avtor-date">
                    <a href="#"><p class="avtor">{% block avtor %}{{ author.username }}{% endblock avtor %}</p></a>
                    <p class="date">{% block datepublished %}{{ author.create_date }}{% endblock datepublished %}</p>
                </div>
                <a href="{% url 'one_article' author.id %}"><p class="article-title">{% block name-state %}{{ author.name_article }}{% endblock name-state %}</p></a>
            </div>
        </div>
    {% endfor %}
{% endblock print_state %}
