{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}шаблон{% endblock title %}</title>
</head>
<body>

    <header>
      {% block header %}
        <div class="container">
          <div class="wrapper-header">
            <ul class="nav published-button">
              <li>
                <a href="/" class="logo-home"><img src="{% static 'images/logo.png' %}" height="40" width="40" alt=""></a>
              </li>
              <li><a href="/">ДОМОЙ</a></li>
              <li><a href="#">ФУНКЦИИ</a></li>
              <li><a href="#">ЦЕНЫ</a></li>
              <li><a href="#">ПОМОЩЬ</a></li>
              <li><a href="#"> О НАС</a></li>
            </ul>
    
            <form class="input-search" role="search">
              <input type="search" class="form-control" placeholder="Поиск по тексту..." aria-label="Search">
            </form>
    
            <div class="btn">
              <button class="btn-login">Войти</button>
            </div>
          </div>
        </div>
      {% endblock header %}
    </header>

     <main>
      <div class="container">
        <div class="window-top">
          <div class="container-window-top">
            <ul class="nav navi">
              <li><a href="#">СТАТЬИ</a></li>
              <li><a href="#">АВТОРЫ</a></li>
              <li><a href="/news">НОВОСТИ</a></li>
              <li><a href="#">МОИ ПУБЛИКАЦИИ</a></li>
            </ul>
            <ul class="nav navi">
              <li><a href="/create_article">ОПУБЛИКОВАТЬ СТАТЬЮ</a></li>
            </ul>
          </div>
          <hr>
        </div>
          <div class="window-bot">
            {% block print_state %}
            <div id="1" class="articles-list">
            <div class="avtor-date">
              <a href="#"><p class="avtor">{% block avtor %}{{ nick_name }}{% endblock avtor %}</p></a>
              <p class="date">{% block datepublished %}{{ date }}{% endblock datepublished %}</p>
            </div>
            <a href="#" class="name-stat"><h2>{% block name-state %}{{ name_article }}{% endblock name-state %}</h2></a>
          </div>

            <div>
              {% block image_article %}
              <img src="{{ img_article }}">
              
              {% endblock image_article %}
            </div>

            <div>
              {% block article_text %}{{ text_article }}{% endblock article_text %}
            </div>
            {% endblock print_state %}
          </div>
      </div>
     </main>
      

    <div>{% block content %}блок контент{% endblock content %}</div>

    <div>{% block footer %}подвал страницы{% endblock footer %}</div>

</body>
</html>
