{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}шаблон{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block user-profile %}
          <div class="left-item">
              <img src="{% static '/images/under_user.jpg' %}" alt="">
              <div class="info-about-me">
                {% if user.is_authenticated %}
                  {% block user-img %}
                    <div class="item-img">
                      <div class="my-avatar">
                        <img class="img-my-avatar" src="{% static '/images/avatar.jpeg' %}" alt="">
                      </div>
                    </div>
                  {% endblock user-img %}
                {% endif %}

                <div class="margin-65">

                  {% if user.is_ruthenticated %}
                    <div class="name-user">
                      <p class="my-name">Высян Николаев</p>
                      <div class="social-imgs">
                        <a href=""><img class="social-img" src="{% static '/images/vk.svg' %}" alt=""></a>
                        <a href=""><img class="social-img" src="{% static '/images/inst.svg' %}" alt=""></a>
                        <a href=""><img class="social-img" src="{% static '/images/pint.svg' %}" alt=""></a>
                      </div>
                    </div>
                    <hr>
                  {% else %}
                  
                  {% endif %}

                  {% if user.is_authenticated %}
                    <div class="item-text-about-me">
                      <p class="text-about-me">Back-end шарамыгин. Создаю свой блог. Работал в нескольких ИТ компаниях и наработал более 10 000 часов.</p>
                    </div>
                  {% else %}
                    <div class="not-authenticated">
                      <p class="text-not-authenticated">Вы не авторизованы!</p>
                    </div>
                  {% endif %}
                  <hr>
                  {% if user.is_authenticated %}
                    <div class="two-buttons">
                      <a href="#"><div class="btn red-button">Мои работы</div></a>
                      <a href="#"><div class="btn blue-button">Написать мне</div></a>
                    </div>
                  {% else %}
                    <div class="two-buttons">
                      <a href="{% url 'login' %}"><div class="btn red-button">Войти</div></a>
                      <a href="{% url 'register' %}"><div class="btn blue-button">Регистриция</div></a>
                    </div>
                  {% endif %}
                </div>
              </div>
          </div>
        {% endblock user-profile %}
        <div class="right-item">
            {% block header %}
              <header>
                  <div class="header">
                      <div class="left-header">
                          <a class="link-header" href="/"><p class="text-header">ГЛАВНАЯ</p></a>
                          <a class="link-header" href="#">
                              <div class="link-header button-articles text-header">
                                  <p class="link-article">СТАТЬИ</p>
                                  <img class="img-down" src="{% static '/images/down.svg' %}" alt="">
                              </div>
                          </a>
                          {% if user.is_authenticated %}
                            <a class="link-header" href="#"><p class="text-header">ОБО МНЕ</p></a>
                          {% endif %}
                      </div>
                      <div class="right-header">
                          {% if user.is_authenticated %}
                            <a class="link-header" href="{% url 'my_page' %}"><p class="text-header">ПРОФИЛЬ</p></a>
                          {% endif %}
                          <input type="search" class="serch-text" placeholder="Поиск по блогу" aria-label="Search">
                      </div>
                  </div>
              </header>
            {% endblock header %}

            {% block my_profile %}{% endblock my_profile %}
            {% block print_state %}{% endblock print_state %}
            {% block register_login_activation %}{% endblock register_login_activation %}

            {% if user.is_authenticated %}
              {% block four_articles %}
                <div class="my-4-articles">
                  <div class="my-4-articles-center">
                    <a href="#" class="article-img-link">
                      <div class="item-img-4-articles">
                        <p class="name-state">Название статьи</p>
                        <p class="date-state">11.11.2022</p>
                        <img class="img-4-articles" src="{% static '/images/article-1.jpeg' %}" alt="">
                      </div>
                    </a>
                    <a href="#" class="article-img-link">
                      <div class="item-img-4-articles">
                        <p class="name-state">Название статьи</p>
                        <p class="date-state">11.11.2022</p>
                        <img class="img-4-articles" src="{% static '/images/article-1.jpeg' %}" alt="">
                      </div>
                    </a>
                    <a href="#" class="article-img-link">
                      <div class="item-img-4-articles">
                        <p class="name-state">Название статьи</p>
                        <p class="date-state">11.11.2022</p>
                        <img class="img-4-articles" src="{% static '/images/article-1.jpeg' %}" alt="">
                      </div>
                    </a>
                    <a href="#" class="article-img-link">
                      <div class="item-img-4-articles">
                        <p class="name-state">Название статьи</p>
                        <p class="date-state">11.11.2022</p>
                        <img class="img-4-articles" src="{% static '/images/article-1.jpeg' %}" alt="">
                      </div>
                    </a>
                  </div>
                </div>
              {% endblock four_articles %}
            {% endif %}

            {% if user.is_authenticated %}
              {% block create_article %}
                <div class="create-article">
                  <div class="create-article-two-items">
                    <div class="left-create-article">
                      <input class="input-create-article" type="text" placeholder="Текст статьи ...">
                    </div>
                    <div class="right-create-article">
                      <a href="#">
                        <div class="article-inside-img article-inside-img-left">
                          <img class="items-in-circle-left" src="{% static '/images/camera.svg' %}" alt="">
                        </div>
                      </a>
                      <a href="#">
                        <div class="article-inside-img article-inside-img-right">
                          <img class="items-in-circle-right" src="{% static '/images/vector.svg' %}" alt="">
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              {% endblock create_article %}
            {% endif %}

            {% block print_articles %}
              {% for article in all_articles %}
                <div id="{{ article.id }}" class="window-print-article">
                  <div class="item-window-article">
                    <div class="img-full-article-main">
                      {% if article.img_article %}
                      <img class="img-article" src="{{ article.img_article.url }}" alt="">
                      {% endif %}
                    </div>
                    <div class="article-information">
                      <p class="names-article">{{ article.name_article }}</p>
                      {% for string in article.text_article %}
                        {% if forloop.counter0 < 5 %}
                          <p class="text-article">{{ string }}</p>
                        {% endif %}
                      {% endfor %}
                      <p>...</p>
                      <div class="bottom-info">
                        <div class="mini-info">
                          <p class="date-create-article">{{ article.create_date }}</p>
                          <p class="date-create-article">раздел статьи</p>
                        </div>
                        <a class="read-all" href="{% url 'one_article' article.id %}">читать</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endblock print_articles %}

            {% block pagination %}
              <div class="pagination">
                <div class="pages">
                  <a class="lin-page" href="#"><div class="page"><</div></a>
                  <a class="lin-page" href="#"><div class="page">1</div></a>
                  <a class="lin-page" href="#"><div class="page">2</div></a>
                  <a class="lin-page" href="#"><div class="page">3</div></a>
                  <a class="lin-page" href="#"><div class="page">></div></a>
                </div>
              </div>
            {% endblock pagination %}

        </div>
    </div>
</body>
</html>
