{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}шаблон{% endblock title %}</title>
</head>
<body>

    <header>
      {% block header %}
        <div class="container">
          <div class="wrapper-header">
            <ul class="nav published-button">
              <li>
                <a href="/" class="logo-home"><img src="{% static 'images/logo.png' %}" height="40" width="40" alt=""></a>
              </li>
              <li><a href="/">ДОМОЙ</a></li>
              <li><a href="#">ФУНКЦИИ</a></li>
              <li><a href="#">ЦЕНЫ</a></li>
              <li><a href="#">ПОМОЩЬ</a></li>
              <li><a href="#"> О НАС</a></li>
            </ul>
            {% if user.is_authenticated %}
              <p class="username_main">{{ user }}</p>
            {% endif %}
            <form class="input-search" role="search">
              <input type="search" class="form-control" placeholder="Поиск по тексту..." aria-label="Search">
            </form>
            {% if user.is_authenticated %}
              {% block user %}
                <div class="btn">
                  <a href="{% url 'logout' %}"><button class="btn-login"></>Выйти</button></a>
                </div>
              {% endblock user %}
            {% else %}
              <div class="btn">
                <a href="{% url 'login' %}"><button class="btn-login" >Войти</button></a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock header %}
    </header>

     <main>
      <div class="container">
      {% block window-top %}
        <div class="window-top">
            <div class="container-window-top">
              <ul class="nav navi">
                <li><a href="/articles">СТАТЬИ</a></li>
                <li><a href="#">АВТОРЫ</a></li>
                <li><a href="{% url 'news' %}">НОВОСТИ</a></li>
                <li><a href="#">МОИ ПУБЛИКАЦИИ</a></li>
              </ul>
              <ul class="nav navi">
                <li><a href="/create_article">ОПУБЛИКОВАТЬ СТАТЬЮ</a></li>
              </ul>
            </div>
            <hr>
          </div>
          {% endblock window-top %}

          <!-- блок распечатки статтей -->
          {% block print_state %}{% endblock print_state %}

          <!-- блок создания статьи -->
          {% block create_state %}{% endblock create_state %}

          <!-- блок подтверждения регистрации, самой регистрации, аутентификации -->
          {% block register_login_logout_email %}{% endblock register_login_logout_email %}

          <!-- блок подтверждения успешной регистрации -->
          {% block success_register %}{% endblock success_register %}

        
        </div>
     </main>
      

    <center><div class="footer">{% block footer %}подвал страницы{% endblock footer %}</div></center>

</body>
</html>
