{% extends 'blog/base.html' %}

{% block title %}
главная страница
{% endblock title %}

{% block four_articles %}{% endblock four_articles %}
{% block create_article %}{% endblock create_article %}
{% block print_articles %}{% endblock print_articles %}
{% block pagination %}{% endblock pagination %}

{% block my_profile %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="my_profile">
        <div class="left-item-profile">
            <p class="text-profile">Профиль</p>
            <div class="form-profile">
                <p class="date-register date-create-article">зарегистрирован {{ user.date_joined }}</p>
                    <div class="mini-containrer">
                        <p class="text-mini-container">{{ data_user.user }}</p>
                    </div>
                    {% if user.first_name %}
                        <div class="mini-containrer">
                            <p class="text-mini-container">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    {% endif %}
                    <div class="mini-containrer">
                        <p class="text-mini-container">  {{ user.email }}</p>
                    </div>
                    <div class="mini-containrer">
                        {{ form.about_me }}
                    </div>
            </div>
        </div>
        <div class="right-item-profile">
            <a href="{% url 'logout' %}"><div class='wrapper-quit-btn'>выйти</div></a>
            <div class="container-img-profile">
            {% if data_user.user_avatar %}
                <img class="img-profile" src="{{ data_user.user_avatar.url }}">
            {% else %}
                <img class="img-profile" src="/media/imgusers/avatar.jpg">
            {% endif %}
            </div>
            <div class="btn-change-data">
                <label class="change-input-btn" htmlFor="choice-img">
                    {{ form.user_avatar }}
                    <span class="change-input-btn-text">выбрать аватар</span>
                </label>
            </div>
        </div>
    </div>
    <button class="btn-profile btn-comment" type="submit">Обновить</button>
</form>
{% endblock my_profile %}
