<!-- все статьи которые храняться в бд -->
{% extends 'blog/base.html' %}

{% block title %}
{{ article.name_article }}
{% endblock title %}


{% block print_state %}
    <div class="window-bot">
        <div id="{{ article.id }}" class="articles-list">
        <div class="avtor-date">
            <a href="#"><p class="avtor">{% block avtor %}{{ article.username }}{% endblock avtor %}</p></a>
            <p class="date">{% block datepublished %}{{ article.create_date }}{% endblock datepublished %}</p>
            <div class="delete_article">
                <a href="delete/{{ article.id }}">Удалить статью</a>
            </div>
        </div>
        <p class="article-title">{% block name-state %}{{ article.name_article }}{% endblock name-state %}</p>
        </div>

        <div>
            {% block image_article %}
                {% if article.img_article %}
                    <img class="img_article" src="{{ article.img_article.url }}">
                {% endif %}
            {% endblock image_article %}
        </div>

        <div>
            {% block article_text %}
                {% for string in article.text_article %}
                    <p>{{ string }}</p>
                {% endfor %}
            {% endblock article_text %}
        </div>




        <h2> Комментарии </h2>

        {% if user.is_authenticated %}
         <form action="" method="POST" id="main_form" class="comment_form">
            <div>
                <label for="comment">Введите комментарий здесь</label>
                {{ comment_form.content }} {% csrf_token %} <input type="submit" value="Post"></div>
            </div>
         </form>
         {% else %} <h2>Вам нужно авторизоваться!</h2> 
         {% endif %}
   
         {% for comment in comments %}
            {% if comment.is_parent %}
            <h3> <b>{{ comment.author }} : </b> {{ comment.content }}</h3> 
            {% endif %} 
            {% for replies in comment.children %}
               <h3><b>{{ comment.author }} : </b> {{ replies.content }}</h3>
            {% endfor %}
         {% endfor %}




    </div>

{% endblock print_state %}
