{% extends 'blog/base.html' %}

{% block print_state %}

<div id="1" class="articles-list">
    {% csrf_token %}
    {{ publish_stat }}
  <div class="avtor-date">
    <a href="#"><p class="avtor">{% block avtor %}Ник_автора_на_главном_шаблоне{% endblock avtor %}</p></a>
    <p class="date">{% block datepublished %}09.09.2022{% endblock datepublished %}</p>
  </div>
  <a href="#" class="name-stat"><h2>{% block name-state %}Название статьи{% endblock name-state %}</h2></a>
</div>
</div>
{% endblock print_state %}
