<!-- страница данных пользователя -->
{% extends 'blog/base.html' %}

{% block title %}
{{ user }}
{% endblock title %}


{% block data_user %}
<div class="window-bot">
    <center><h2>Ваши персональные данные!</h2></center>
    <center><form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.user_avatar }}</p>
        <p>{{ form.about_me }}</p>
        <button type="submit">Сохранить изменения!</button><br>
    </form></center>
</div>
{% endblock data_user %}
