{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
{{ article.name_article }}
{% endblock title %}




{% block user-profile %}
<div class="left-item">
    <img src="{% static '/images/under_user.jpg' %}" alt="">
    <div class="info-about-me">
        {% block user_img %}
            <div class="item-img">
                <div class="my-avatar">
                {% if user_profile.user_avatar %}
                    <img class="img-my-avatar" src="{{ user_profile.user_avatar.url }}" alt="">
                {% else %}
                    <img class="img-my-avatar" src="/media/imgusers/avatar.jpg">
                {% endif %}
                </div>
            </div>
        {% endblock user_img %}

      <div class="margin-65">

          <div class="name-user">
            <p class="my-name">{{ user.username }}</p>
            {% if user.firs_name %}
              <p class="my-name">{{ user.firs_name }} {{ user.last_name }}</p>
            {% endif %}
            <div class="social-imgs">
              <a href=""><img class="social-img" src="{% static '/images/vk.svg' %}" alt=""></a>
              <a href=""><img class="social-img" src="{% static '/images/inst.svg' %}" alt=""></a>
              <a href=""><img class="social-img" src="{% static '/images/pint.svg' %}" alt=""></a>
            </div>
          </div>
          <hr>

          {% if user_profile.about_me %}
            <div class="item-text-about-me">
              <p class="text-about-me">{{ user_profile.about_me }}</p>
            </div>
          {% endif %}
        <hr>
          <div class="two-buttons">
            <a href="#"><div class="btn blue-button">Написать @{{ user.username }}</div></a>
          </div>
      </div>
    </div>
</div>
{% endblock user-profile %}



{% block print_state %}
<div class="window-print-article">
    <div class="item-window-article">
        <div class="up-article">
            <a href="{% url 'user_page' user.id %}"><p class="name-author-article">@{{ article.username }}</p></a>
            <a class="share" href="#">
                <p class="text-share">поделиться</p>
                <img class="img-share" src="{% static '/images/share.svg' %}" alt="">
            </a>
        </div>
        <div class="info-about-article">
            <div class="text-info-article">
                <p class="name-article">{{ article.name_article }}</p>
                <div class="up-data">
                    <p class="date-create-article">{{ article.create_date }}</p>
                    <p class="date-create-article">раздел статьи</p>
                </div>
            </div>
        </div>
        {% if article.img_article %}
            <div class="img-full-article">
                <img class="article-img" src="{{ article.img_article.url }}" alt="">
            </div>
        {% endif %}

        <div class="article-information">
            {% for string in article.text_article %}
                <p class="text-article">{{ string }}</p>
            {% endfor %}
        </div>
        <hr>
        <p class="discuss">Обсуждение</p>
        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-comment">
                    <div class="input-comments">
                        {{ form }}
                    </div>
                    <hr class="hr-coment">
                    <button class="btn-comment" type="submit">Отправить</button>
                </div>
            </form>
        {% endif %}
        <div class="comments">
            {% for comment in comments %}
                {% if comment.is_parent %}
                <p>{{ comment. }}</p>
                {% endif %}
                <div class="item-comment">
                    <div class="item-img-comment">
                        <div class="author-comment">
                            <div>
                            {% if comment.link_img.user_avatar %}
                                <div class="wrapper-img-comments">
                                    <img class="img-comment" src="{{ comment.link_img.user_avatar.url }}" alt="">
                                </div>
                            {% else %}
                                <div class="wrapper-img-comments">
                                    <img class="img-comment" class="user_avatar" src="/media/imgusers/avatar.jpg">
                                </div>
                            {% endif %}
                            </div>
                            <div>
                                <p class="name-author-comment">{{ comment.author }}</p>
                                <p class="date-create-comment">{{ comment.date_joined }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-comment">{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock print_state %}

{% block four_articles %}{% endblock four_articles %}

{% block create_article %}{% endblock create_article %}

{% block print_articles %}{% endblock print_articles %}

{% block pagination %}{% endblock pagination %}
