<!-- страница данных пользователя -->
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
{{ user }}
{% endblock title %}


{% block four_articles %}{% endblock four_articles %}
{% block create_article %}{% endblock create_article %}

{% block user-profile %}
<div class="left-item">
    <img src="{% static '/images/under_user.jpg' %}" alt="">
    <div class="info-about-me">
        {% block user_img %}
            <div class="item-img">
                <div class="my-avatar">
                {% if user_profile.user_avatar %}
                    <img class="img-my-avatar" src="{{ user_profile.user_avatar.url }}" alt="">
                {% else %}
                    <img class="img-my-avatar" src="/media/imgusers/avatar.jpg">
                {% endif %}
                </div>
            </div>
        {% endblock user_img %}

      <div class="margin-65">

          <div class="name-user">
            <p class="my-name">{{ user.username }}</p>
            {% if user.firs_name %}
              <p class="my-name">{{ user.firs_name }} {{ user.last_name }}</p>
            {% endif %}
            <div class="social-imgs">
              <a href=""><img class="social-img" src="{% static '/images/vk.svg' %}" alt=""></a>
              <a href=""><img class="social-img" src="{% static '/images/inst.svg' %}" alt=""></a>
              <a href=""><img class="social-img" src="{% static '/images/pint.svg' %}" alt=""></a>
            </div>
          </div>

          {% if user_profile.about_me %}
            <hr>
            <div class="item-text-about-me">
              <p class="text-about-me">{{ user_profile.about_me }}</p>
            </div>
          {% endif %}
        <hr>
          <div class="two-buttons">
            <a href="#"><div class="btn blue-button">Написать @{{ user.username }}</div></a>
          </div>
      </div>
    </div>
</div>
{% endblock user-profile %}


{% block print_articles %}
    {% for article in user_articles %}
        <div id="{{ article.id }}" class="window-print-article">
            <div class="item-window-article">
                <div class="img-full-article-main">
                {% if article.img_article %}
                    <img class="img-article" src="{{ article.img_article.url }}" alt="">
                {% endif %}
                </div>
                <div class="article-information">
                    <p class="names-article">{{ article.name_article }}</p>
                    {% for string in article.text_article %}
                        {% if forloop.counter < 5 %}
                        <p class="text-article">{{ string }}</p>
                        {% endif %}
                    {% endfor %}
                    <p>...</p>
                    <div class="bottom-info">
                        <div class="mini-info">
                            <p class="date-create-article">{{ article.create_date }}</p>
                            <p class="date-create-article">раздел статьи</p>
                        </div>
                        <a class="read-all" href="{% url 'one_article_from_user' user_id=user.id article_id=article.id %}">читать</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock print_articles %}
