<!-- страница данных пользователя -->
{% extends 'blog/base.html' %}

{% block title %}
{{ user }}
{% endblock title %}


{% block data_user %}
<div class="window-bot">
    <center><h2>Страница пользователя {{ user_profile.user }}!</h2></center>
    <div class="data_user">
        <div class="left-data-user">
            <p>Фотография {{ user_profile.user }}</p>
            {% if user_profile.user_avatar %}
                <img class="user_avatar" src="{{ user_profile.user_avatar.url }}">
            {% else %}
                <img class="user_avatar" src="/media/imgusers/avatar.jpg">
            {% endif %}
        </div>
        <div class="right-data-user">
            <p>Пользователь - {{ user_profile.user }}</p>
            <p>Был зарегистрирован - {{ user_profile.date_change }}</p>
            {% if user.first_name %}
                <p>Имя пользователя - {{ user.first_name }}</p>
            {% endif %}
            {% if user.last_name %}
                <p>Фамилия пользователя - {{ user.last_name }}</p>
            {% endif %}
            <p>Email пользователя- {{ user.email }}</p>
            {% if user.phone_no %}
                <p>Номер телефона пользователя- {{ user.phone_no }}</p>
            {% endif %}
            {% if user_profile.about_me %}
                <p>О пользователе - {{ user_profile.about_me }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock data_user %}
