<!-- страница авторизации -->
{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block header %}{% endblock header %}
{% block window-top %}{% endblock window-top %}

{% block register_login_logout_email %}
    <div class="register-login-aktivation befor-footer">
        <div class="register-lofin-lable">
            <p class="text-lable text-lable-left p-register">My</p>
            <div><img class="text-lable-middle" src="{% static 'images/logo-green.png' %}" height="40" width="40" alt=""></div>
            <p class="text-lable p-register">log</p>
        </div>
        <div class="authenticate">
                <form method="POST">
                {% csrf_token %}
                    <div class="item-register-form">
                        <div class="register-form">
                            <p class="title-register-form p-register">Войти</p>
                            <p class="p-register">Ник</p>
                            <div class="input-register">{{ form.username }}</div>
                            <p class="p-register">Пароль</p>
                            <div class="input-register">{{ form.password }}</div>
                            {% if error %}
                                <p class="error">{{ error }}</p>
                            {% endif %}
                        </div>
                        <button class="btn-register" type="submit" >Войти</button>
                        <p class="register-text-login">У вас ещё нет аккаунта? <a class="register-login" href="{% url 'register' %}">Зарегистрироваться</a></p>
                    </div>
                </form>
        </div>
    </div>
{% endblock register_login_logout_email %}
{% block window-right %}{% endblock window-right %}
