{% extends 'blog/base.html' %}

{% block title %}
главная страница
{% endblock title %}

{% block main_page %}
    <div class="window-bot">
        <h2>Приветствую на нашем блоге, читатель!</h2>
        <br>
        <h4>Здесь ты можешь как выражать свои мысли в письменной форме так и читать чужие.</h4>
        <ul><h3>Если ты не авторизован, тебе доступны лишь три страницы:</h3></ul>
        <li><a class="register-login" href="{% url 'articles' %}">Статьи</a> - все статьи которые были опубликованы пользователями</li>
        <li><a class="register-login" href="{% url 'authors' %}">Авторы</a> - которые печатались у нас</li>
        <li><a class="register-login" href="{% url 'news' %}">Новости</a> - с 6-ю категориями. Все новости были взяты с новостного портала <a class="register-login" href="{% url 'login' %}">rg.ru</a></li>
        <br>
        <ul><h3>Для авторизованых пользователей доступны еще две страницы:</h3></ul>
        <li>Мои Публикации</li>
        <li>Опубликовать статью</li>
        <br>
        <a href="#"><p class="help">Если нужна помощь</p></a>
    </div>
{% endblock main_page %}
