{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base.html{% endblock title %}</title>
    
</head>
<body>
    <header>
        <div class="container">
          <div class="wrapper-header">
            <a href="/" class="logo-home"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <ul class="nav">
              <li><a href="#">Домой</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">About</a></li>
            </ul>
    
            <form class="" role="search">
              <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
            </form>
    
            <div class="btns">
              <button href="#" class="btn">Войти</button>
              <button href="#" class="btn">Зарегистрироваться</button>
            </div>
          </div>
        </div>
     </header>





    <h1>{% block header %}Заголовок с base.html{% endblock header %}</h1>

    <aside>
        {% block sidebar %}
        <p>sidebar1</p>
        <p>sidebar2</p>
        <p>sidebar3</p>
        {% endblock sidebar %}
    </aside>

    <div>{% block content %}content base.html{% endblock content %}</div>

    <div>Подвал страницы</div>

    <h1>{% block footer %}footer base.html{% endblock footer %}</h1>

</body>
</html>
