*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul[class], ol, figure, figcaption, blockquote, dl, dd, a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="text"]{
    color: #000!important;
}

input::-moz-placeholder { color: black; }
input::-webkit-input-placeholder { color: black; }

body{
    margin: 0px;
    padding: 50px 0 0 0 ;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;
    opacity: 1;
    background-color: #DCDCDC;
    /* font-family: sans-serif; */
    font-family: Arial,sans-serif;
    letter-spacing: 0.5px;
    /* font-family: Andale Mono, monospace; */
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #7dab1f;
}

a{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

h2{
    margin-top: 5px;
    margin-bottom: 0px;
}

a:hover{
    color: #0066c0;
}

main{
    margin-top: 25px;
}

hr {
    border: none;
    background-color: #1017dc;
    color: #000;
    height: 2px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
