.container{
    margin: 0 auto;
    display: flex;
    width: 1000px;
}
.left-item{
    width: 30%;
    background: #202020;
}
.right-item{
    width: 70%;
    background: #181818;
}
.header{
    display: flex;
    background: #0D0D0D;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
.left-header, .right-header, .button-articles{
    display: flex;
}
.text-header{
    font-style: normal;
    margin: 14px 15px 13px 15px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.search-form{
    width: 212px;
    background-color: #202020;
    height: 100%;
    display: flex;
}
.search-text{
    width: 212px;
    background-color: #202020;
    border: none;
    color: #fff;
}
.search-text::placeholder{
    color: rgba(255, 255, 255, 0.4);
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
a.link-header:hover{
    background-color: #3137C9;
}
.img-down{
    width: 10px;
    margin-left: -11px
}

.my-4-articles{
    margin-top: 60px;
    justify-content: center;
}
.my-4-articles-center{
    display: flex;
    margin: 0 40px;
}
.item-img-4-articles{
    width: 140px;
    height: 195px;
}
.img-4-articles{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-img-link{
    position: relative;
    margin-right: 13px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid transparent;
}
.article-img-link:hover{
    border: 2px solid #3137C9;
}
.name-state{
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 9px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.date-state{
    z-index: 2;
    position: absolute;
    top: 175px;
    right: 10px;
    font-size: 11px;
    font-weight: 300;
}
.create-article{
    margin-top: 30px;
    height: 100%;
    align-content: center;
}
.create-article-two-items{
    background: #121212;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.right-create-article{
    display: flex;
}
.left-create-article{
    margin: 20px 20px 0 20px;
    padding: 5px 0;
    width: 100%;
}
.left-create-article>div{
    border-bottom: 1px solid #3F3F3F;
}
.item-text-input{
    margin-bottom: 10px;
}
.form_text_article{
    width: 100%;
    max-width: 450px;
    min-width: 450px;
    min-height: 21px;
}
.article-inside-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.article-inside-img:hover > .change-input-btn > img{
    cursor: pointer;
    transform: scale(1.1);
}
.article-inside-img-right:hover > img{
    cursor: pointer;
    transform: scale(1.1);
}
.article-inside-img-left{
    background: #EBEBEB;
}
.article-inside-img-right{
    background: #3137C9;
}
.window-print-article{
    margin: 30px 0 40px 0;
}
.item-window-article{
    margin: 0 40px;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.img-full-article-main, .img-full-article{
    height: 250px;
    margin: 0 auto;
}
.img-full-article{
    width: 560px;
}
.article-img, .img-article{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-article{
    border-radius: 5px 5px 0 0;
}
.article-information{
    padding: 25px 25px 15px 25px;
}
.name-article, .names-article{
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}
.name-article{
    margin-bottom: 5px;
    font-size: 17px;
}
.names-article{
    margin-bottom: 15px;
    font-size: 18px;
}
.text-article{
    color: #D2D2D2;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.7px;
}
.input-create-article{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    background-color: #121212;
    border: none;
    width: 100%;

}
input.input-create-article::placeholder, textarea.input-create-article::placeholder{
    color: #828282;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 0;
}
.pagination{
    height: 130px;
    margin-bottom: 20px;
    padding-top: 40px;
}
.pages{
    width: 607px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.page{
    width: 40px;
    height: 40px;
    background: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
}
.page-blue{
    background: #3137C9!important;
}
a>.page:hover{
    background: #3137C9;
}
.date-create-article, .text-share{
    color: #828282;
    font-family: 'Lato', sans-serif;
}
.date-create-article{
    font-weight: 300;
    margin-right: 20px;
    font-size: 11px;
    letter-spacing: 1px;
}
.text-share{
    font-weight: 400;
    font-size: 12px;
    margin: 3px 5px 0 0;
}
a.share:hover .text-share{
    scale: 1.05;
    transition: 0.5s;
}
.bottom-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.mini-info{
    display: flex;
}
.read-all{
    font-size: 14;
    color: #107EFF;
}
.read-all:hover{
    scale: 1.1;
}
.red-button, .blue-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    font-weight: 300;
    letter-spacing: 0.7px;
}
.blue-button:hover{
    font-size: 12.5px;
}
.red-button:hover{
    font-size: 12.5px;
}
.red-button{
    background: #ED3024;
}
.blue-button{
    background: #3137C9;
}
.my-avatar{
    width: 100px;
    height: 100px;
}
.img-my-avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -56px;
}
.margin-65{
    margin-top: -34px;
}
.info-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-buttons{
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0;
}
.btn{
    margin: 0 5px;
}
.my-name{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.short-info{
    color: #DEDEDE;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}
.social-imgs{
    margin: 20px 0 15px 0px;
}
.social-img{
    margin: 0 7px;
}
.item-text-about-me{
    width: 260px;
    height: 100%;
}
.text-about-me{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}
.name-author-article{
    font-size: 13px;
    font-weight: 500;
    color: #107EFF;
}
.up-data{
    display: flex;
    justify-content: space-between;
}
.text-info-article{
    width: 100%;
}
.info-about-article{
    width: 100%;
    padding: 5px 21px 15px 21px;
    display: flex;
    justify-content: space-between;
}
.up-article{
    padding: 15px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}
.img-share{
    width: 16px;
    height: 18px;
    margin-top: 3px;
}
.share{
    display: flex;
}
.form-control-comment{
    background-color: #202020;
    border: none;
    color: #fff;
    width: 100%;
    letter-spacing: 1px;
}
.discuss{
    font-size: 16px;
    font-weight: 400;
}
.discuss-item{
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-comment{
    margin: 20px 25px 7px 25px;
}
.like-img{
    width: 20px;
}
.view-img{
    width: 25px;
}
.likes-view{
    display: flex;
}
.item-view, .item-like{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    height: 45px;
}
.amount-like-view, .item-view, .item-like{
    margin: 0 5px;
}
.amount-like-view{
    color: #828282;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
}
.hr-coment{
    width: 100%;
    height: 1px;
    background-color: #3F3F3F;
    border: #3F3F3F;
}
.wrapper-btn-comment, .btn-profile, .btn-comment{
    border-radius: 5px;
    color: #fff;
    background: #3137C9;
    border: 0;
    font-size: 12px;
    cursor: pointer;
}
.btn-profile{
    margin: 9px 0 50px 50px;
    width: 90px;
    height: 30px;
}
.btn-comment{
    width: 90px;
    height: 30px;
}
.wrapper-btn-comment{
    height: 40px;
    width: 100%;
    margin-top: 10px;
}
.btn-profile:hover, .btn-comment:hover{
    font-size: 12.3px;
}
.wrapper-btn-comment:hover{
    font-size: 13px;
}
.wrapper-img-comments{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.img-comment{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.comments{
    padding: 20px 25px 25px 25px;
}
.author-comment{
    display: flex;
}
.name-author-comment{
    font-size: 13px;
    font-weight: 400;
}
.date-create-comment{
    margin-top: 5px;
    font-size: 12px;
    color: #757575;
}
.text-comment{
    font-size: 12px;
    margin: 8px 0 25px 0;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.6px;
}
.my_profile{
    padding: 60px 50px 0 50px;
}
.text-profile{
    font-size: 21px;
    font-weight: 400;
}
.form-profile{
    width: 340px;
    margin-top: 20px;
}
.profile-user-about-me{
    height: 26px;
    width: 100%;
    background: #181818;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.text-activation, textarea.profile-user-about-me::placeholder{
    color: #828282;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.8px;
    font-size: 12px;
    font-weight: 300;
}
input.activation::placeholder{
    text-align: center;
    font-size: 12px!important;
    letter-spacing: 0.8px;
}
hr.hr-profile{
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #3F3F3F;
    border: #3F3F3F;
}
.mini-containrer{
    border-bottom: 1px solid #3F3F3F;
    margin-bottom: 16px;
}
.text-mini-container{
    font-size: 12px;
    color: #fff;
    padding: 9px 0 2px 5px;
    letter-spacing: 0.7px;
}
.activation{
    font-size: 24px!important;
    text-align: center;
    letter-spacing: 3px!important;
}
.date-register{
    text-align: right;
    margin-right: 0;
}
.container-img-profile{
    width: 150px;
    height: 150px;
    margin-top: 27px;
}
.img-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.my_profile{
    display: flex;
    justify-content: space-between;
}
.change-input-btn-text{
    cursor: pointer;
    text-decoration: underline;
}
.change-input-btn{
    font-size: 13px;
    font-weight: 300;
    color: #107EFF;
}
label.change-input-btn input[type='file']{
    display: none;
    opacity: 0;
}
.btn-change-data{
    margin-top: 7px;
}
.submit-create-article{
    cursor: pointer;
    border: none;
}
.wrapper-quit-btn{
    width: 150px;
    height: 50px;
    background: #ED3024;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
}
.wrapper-quit-btn:hover{
    font-size: 15px;
}
.text-mini-container > input:focus .mini-containrer{
    border-bottom: 2px solid #107EFF;
}
.not-authenticated{
    margin-top: 50px;
    border-top: 1px solid #1C1C1C;
    text-align: center;
}
.text-not-authenticated{
    font-family: 'Lato', sans-serif;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.container-register{
    align-content: center;
    width: 280px;
    text-align: center;
}
.wrapper-container-register{
    margin: 60px 0;
    display: flex;
    justify-content: center;
}
.text-mini-container input{
    width: 100%;
    background-color: #181818;
    border: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
.text-mini-container input::placeholder, .input-create-article::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
.text-log-reg{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
}
.form-register{
    justify-content: center;
}
.authors-item{
    margin: 20px 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.authors-two-item{
    display: flex;
    justify-content: space-between;
}
.amount-rticles-authors{
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}
.select-article-section{
    width: 111px;
    margin-top: 10px;
    color: #828282;
    border: none;
    background-color: #202020;
    height: 25px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 5px;
}
.item-section-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-no-section-articles{
    margin: 40px;
    background-color: #202020;
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.no-section-articles{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-align: center;
}
