.wrapper-header, .nav{
    display: flex;
}

.wrapper-header{
    padding: 10px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapperheader-right{
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav li{
    display: inline-block;
    margin-right: 25px;
}

.main-word a:hover{
    color: #1017dc;
}

.nav li a{
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
}

.nav li a:hover{
    color: #1017dc;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.two-windows{
    display: flex;
}

.two-windos-left{
    width: 80%;
    margin-right: 5px;
}

.two-windos-right{
    width: 20%;
}

.logo-home{
    display: flex;
    align-items: center;
}

.logo-home:hover{
    transform: scale(1.1);
}

.form-control, .btn-login{
    border: 1px solid #1017dc;
    border-radius: 0.375rem;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 10px;
    background-color: white;

}

.btn-login{
    transition: 0.5s;
}

.btn-login:hover{
    background-color: #DCDCDC;
}

.btn-login{
    display: flex;
}

.form-control{
    width: auto;
    display: flex;
}

.input-search{
    font-weight: 800;
    outline: none;
    margin-right: 10px;
}

.window-top, .window-bot{
    padding: 15px 20px;
    border: 1px solid #dedede;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #7dab1f;
    border-radius: 4px;
}

.container-window-top{
    display: flex;
    justify-content: space-between;
}

.avtor, .date{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    color: #000;
}

.date{
    color: #777;
    font-size: 14px;
}

.avtor:hover{
    color: #0066c0;
}

.avtor-date{
    display: flex;
}

.published-button{
    margin-right: auto;
}

.form_article{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.form_text_article{
    height: 200px;
}

image .form_article{
    font-size: large;
    width: 100%;
}

.img-article{
    display: flex;
    justify-content: center;
    width: 100%;
}

.delete_article{
    margin-left: auto;
}

.img_article{
    width: 100%;
}

.footer{
    height: 100px;
}

.activation{
    font-size: 25px;
    letter-spacing: 10px;
    width: 50%!important; 
    color: black;
    margin-left: auto;
}

.username_main{
    font-size: 20px;
    padding: 0px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 20px;
    color: #1017dc
}

.data_user{
    display: flex;
    align-items: center;
}

.user_avatar{
    width: 300px;
}

.left-data-user{
    margin-right: 50px;
}

.img-news{
    width: 150px;
}

.news-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-block-text{
    max-width: 80%;
}

.rg-ru{
    color: #0066c0;
}

.news-block-change{
    display: flex;
    justify-content: space-around;
}

.img_news{
    width: 100%;
}

.p-register{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #111;
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    padding-left: 2px;
}

.input-register>input{
    border: 1px solid #a6a6a6;
    height: 30px;
    width: 100%;
    border-radius: 2px;
}

.input-register>input:focus{
    border: 1px solid #7dab1f;
    box-shadow: 0px 0px 3px 2px #7dab1f;
}

.btn-register{
    margin-top: 15px;
    width: 300px;
    height: 30px;
    background-color: #7dab1f;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
}

.btn-register:hover{
    background-color: #84b81d;
}

.authenticate{
    background-color: #fff;
    width: 330px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    border: 1px solid #7dab1f;
    margin: 0 auto;
}

.title-register-form{
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.register-login{
    color:#0066c0;
}

.register-text-login{
    font-size: 12px;
    font-style: italic;
    padding-left: 2px;
}

.register-lofin-lable{
    display: flex;
    justify-content: center;
}

.text-lable{
    margin: 0;
    font-size: 30px;
    margin-top: 15px;
}

.text-lable-left{
    margin-right: 10px;
}

.text-lable-middle{
    margin-right: 2px;
}

.i-png{
    width: 14px;
}

.mini-text-i-png{
    margin: 0;
    margin-top: 2px;
}

.wrapper-i{
    display: flex;
}

.wrapper-activation{
    margin-top: auto;
}
.article-title{
    font-family: Monospace;
    font-size: 22px;
    font-weight: 600;
}

p.register-text-login-nick{
    margin: 0;
    color: #0066c0;
    margin-top: 2px;
}

.login-main-page{
    color: #0066c0;
}

[name=code_on_page]{
    margin-top: 10px;
}

.register-login-aktivation{
    margin-top: 40px;
}

.line-footer{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 1.5px;
    background: -webkit-linear-gradient(to right,#dcdcdc30,#7dab1f,#dcdcdc30);
    background: linear-gradient(to right,#dcdcdc30,#7dab1f,#dcdcdc30);
}

.footer{
    height: 120px;
}

.help{
    font-style: italic;
    color: #0066c0;
}

.error{
    font-style: italic;
    color: red;
    font-size: 13px;
    padding-left: 2px;
}

.befor-footer{
    margin-bottom: 150px;
}
