{% extends 'blog/base.html' %}

{% block title %}
активация
{% endblock title %}

{% block four_articles %}{% endblock four_articles %}
{% block create_article %}{% endblock create_article %}
{% block print_articles %}{% endblock print_articles %}
{% block pagination %}{% endblock pagination %}

{% block register_login_activation %}
<div class="wrapper-container-register">
    <div class="container-register">
        <p class="text-log-reg">Подтверждение регистрации</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-register">
                <div class="mini-containrer wrapper-code-activation">
                    <!-- {{ form }} -->
                    <p class="text-mini-container input-code-activation"><input maxlength="6" name="code_on_page" placeholder="введите ваш код" class="activation" type="text"></p>
                </div>
            </div>
            <p class="text-activation">Вам на почту был выслан код активации</p>
            <button class="wrapper-btn-comment" type="submit" >Активировать</button>
            <!-- <a href="#"><div class="wrapper-btn-comment">Активироовать</div></a> -->
        </form>
    </div>
</div>
{% endblock register_login_activation %}
