<!-- страница подтверждения регистрации -->
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
страница спасибо
{% endblock title %}


{% block window-top %}{% endblock window-top %}

{% block register_login_logout_email %}
    <div class="register-lofin-lable">
        <p class="text-lable text-lable-left">My</p>
        <div><img class="text-lable-middle" src="{% static 'images/logo-green.png' %}" height="40" width="40" alt=""></div>
        <p class="text-lable">log</p>
    </div>
    <div class="authenticate">
        {% if user.is_authenticated %}
            <h2>Регистрация прошла успешно!</h2>
        {% else %}
            <form method="POST">
            {% csrf_token %}
                <p class="title-register-form">Введите код</p>
                <div class="item-register-form">
                    <p class="p-register"></p>
                    <center><div class="input-register"><input name="code_on_page" class="activation" type="number"></div></center>
                    <button class="btn-register" type="submit" >Отправить</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock register_login_logout_email %}

{% block footer %}{% endblock footer %}
