<!-- страница подтверждения регистрации -->
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
страница спасибо
{% endblock title %}

{% block window-top %}{% endblock window-top %}

{% block register_login_logout_email %}
    <div class="window-bot">
        <center><h1">Страница подтверждения регистрации</h1></center>
        <br>
        <div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
            <section style="margin: 0 15px;color:#425b76;">
                <h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you to registration</h2>
                <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
                <p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Привет, {{username}}, мы получили ваши данные и скоро их обработаем.</p>
            </section>
        </div>
    </div>
{% endblock register_login_logout_email %}
