<!-- страница авторизации -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>Авторизация</title>
</head>
<body>
    <div class="register-login-aktivation">
    
        <div class="register-lofin-lable">
            <p class="text-lable text-lable-left p-register">My</p>
            <div><img class="text-lable-middle" src="{% static 'images/logo-green.png' %}" height="40" width="40" alt=""></div>
            <p class="text-lable p-register">log</p>
        </div>
        <div class="authenticate">
                <form method="POST">
                {% csrf_token %}
                    <div class="item-register-form">
                        <div class="register-form">
                            <p class="title-register-form p-register">Войти</p>
                            <p class="p-register">Ник</p>
                            <div class="input-register">{{ form.username }}</div>
                            {% if error %}
                                <div class="wrapper-i">
                                    <img class="i-png" src="{% static 'images/i.png' %}" alt="">
                                    <p class="mini-text-i-png register-text-login register-text-login-nick">{{ error }}</p>
                                </div>
                                <p class="register-text-login "></p>
                            {% endif %}
                            <p class="p-register">Пароль</p>
                            <div class="input-register">{{ form.password }}</div>
                        </div>
                        <button class="btn-register" type="submit" >Войти</button>
                            <p class="register-text-login">У вас ещё нет аккаунта? <a class="register-login" href="{% url 'register' %}">Зарегистрироваться</a></p>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>
