{% extends 'blog/base.html' %}

{% block title %}
регистрация
{% endblock title %}

{% block four_articles %}{% endblock four_articles %}
{% block create_article %}{% endblock create_article %}
{% block print_articles %}{% endblock print_articles %}
{% block pagination %}{% endblock pagination %}

{% block two-buttons %}
<div class="two-buttons">
  <a href="{% url 'login' %}"><div class="btn red-button">Войти</div></a>
</div>
{% endblock two-buttons %}

{% block register_login_activation %}
<div class="wrapper-container-register">
    <div class="container-register">
        <p class="text-log-reg">Регистрация</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-register">
                <div class="mini-containrer">
                    <p class="text-mini-container">{{ form.username }}</p>
                </div>
                <div class="mini-containrer">
                    <p class="text-mini-container">{{ form.email }}</p>
                </div>
                <div class="mini-containrer">
                    <p class="text-mini-container">{{ form.password1 }}</p>
                </div>
                <div class="mini-containrer">
                    <p class="text-mini-container">{{ form.password2 }}</p>
                </div>
            </div>
            <button class="wrapper-btn-comment" type="submit" >Зарегистрироваться</button>
            <!-- <a href="#"><div class="wrapper-btn-comment">Зарегистрироваться</div></a> -->
        </form>
    </div>
</div>
{% endblock register_login_activation %}
