{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
news
{% endblock title %}


{% block news_page %}
    <div class="window-bot">
        <div class="news-block-change">
            <div class="news-block-left">
                
                <a href="{% url 'page_dayli' %}"><img class="img_news" src="{% static 'images/page_dayli.png' %}" alt=""></a>
                <a href="{% url 'page_europe' %}"><img class="img_news" src="{% static 'images/europe.png' %}" alt=""></a>
                <a href="{% url 'page_finance' %}"><img class="img_news" src="{% static 'images/finance.png' %}" alt=""></a>
            </div>
            <div class="news-block-right">
                <a href="{% url 'page_nature' %}"><img class="img_news" src="{% static 'images/nature.png' %}" alt=""></a>
                <a href="{% url 'page_power' %}"><img class="img_news" src="{% static 'images/power.png' %}" alt=""></a>
                <a href="{% url 'page_sport' %}"><img class="img_news" src="{% static 'images/sport.png' %}" alt=""></a>
            </div>
        </div>
    </div>
{% endblock news_page %}
