{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Новости дня
{% endblock title %}


{% block news_page %}

    {% for news in data %}
    <div class="window-bot">

        <div class="news-block">
            <div class="news-block-text">
                <div class="wrapper-i">
                    <p class="date">{{ news.0 }}</p>
                    <div class="wrapper-i">
                        <img class="i-png" src="{% static 'images/i.png' %}" alt="">
                        <p class="mini-text-i-png register-text-login">Все данные были взяты с новостного портала <a class="register-login" href="{% url 'login' %}">rg.ru</a></p>
                    </div>
                </div>
                <a href="{{ news.2 }}"><p class="article-title" >{{ news.1 }}</p></a>
            </div>
            <div class="news-block-img">
                {% if news.3 %}
                <img src="{{ news.3 }}" class="img-news">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock news_page %}
