{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Новости Европы
{% endblock title %}


{% block news_page %}

    <a class="rg-ru" href="https://rg.ru/"><center><h2>Все данные новостей были взяты с портала rg.ru</h2></center></a>
    {% for news in data %}
    <div class="window-bot">

        <div class="news-block">
            <div class="news-block-text">
                <p>{{ news.0 }}</p>
                <a href="{{ news.2 }}"><h3>{{ news.1 }}</h3></a>
            </div>
            <div class="news-block-img">
                {% if news.3 %}
                <img src="{{ news.3 }}" class="img-news">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock news_page %}
